<footer class="footer">
  <div class="footer-content">
    <div class="footer-info left">
      <div class="brand">
        <img src="<%= logo %>" alt="" class="logo">
        <span><%= title %></span>
      </div>
      <p>&copy; <%= copyright %></p>
    </div>
    <div class="center footer-friendlink">
      <h3 class="title">友情链接</h3>
      <ul class="link-list">
        <% links.forEach(function(link){ %>
          <li class="link">
            <a href="<%= link.link %>">
              <%= link.title %>
            </a>
          </li>
        <% }); %>
      </ul>
    </div>
    <div class="line"></div>
    <div class="right footer-callus">
      <h3 class="title">联系我们</h3>
      <ul class="call-list">
        <li class="call-item">
          <i class="icon icon-location"></i><%= contact.address %></li>
        <li class="call-item">
          <i class="icon icon-email"></i><%= contact.email %></li>
        <li class="call-item">
          <i class="icon icon-phone"></i><%= contact.phone %></li>
      </ul>
    </div>
  </div>
</footer>