<header class="page-header">
  <div class="container page-nav">
    <nav>
      <div class="nav-wrapper" data-aos="slide-up">
        <a href="#" class="brand-logo left">
          <% if (locals.logo) { %>
            <img src="<%= logo %>">
          <% } %>
          <% if (locals.title) { %>
            <%= title %>
          <% } %>
        </a>
        <a href="#" data-target="mobile-nav" class="sidenav-trigger right hide-on-med-and-up">
          <i class="material-icons">menu</i>
        </a>
        <% if (locals.navigators) { %>
          <ul class="hide-on-small-only header-nav">
            <% navigators.forEach(function(navi){ %>
              <li>
                <a href="<%= navi.link %>">
                  <%= navi.title %>
                </a>
              </li>
              <% }) %>
          </ul>
        <% } %>
      </div>
      <% if (locals.navigators) { %>
        <ul class="sidenav" id="mobile-nav">
          <% navigators.forEach(function(navi){ %>
            <li>
              <a href="<%= navi.link %>">
                <%= navi.title %>
              </a>
            </li>
            <% }) %>
        </ul>
      <% } %>
    </nav>
  </div>

  <div class="container spotlight" data-aos="slide-up">
    <div class="row">
      <div class="col m6 s12 spotlight-title">
        <% if (locals.title) { %>
          <h1 class="white-text"><%= title %></h1>
        <% } %>
        <% if (locals.subtitle) { %>
          <h4 class="white-text"><%= subtitle %></h4>
        <% } %>
      </div>
      <div class="col m6 s12 spotlight-img">
        <% if (locals.cover) { %>
          <img class="responsive-img" src="<%= cover %>">
        <% } %>
      </div>
      <div class="col m6 s12 spotlight-extra">
        <% if (locals.description) { %>
          <h5 class="white-text"><%= description %></h5>
        <% } %>
        <% if (locals.subdescription) { %>
          <h6 class="white-text"><%= subdescription %></h6>
        <% } %>
        <a class="btn spotlight-btn">点击试用</a>
      </div>
    </div>
  </div>
</header>
